[submodule "contrib/deterministic-build/electrum-fec-locale"]
	path = contrib/deterministic-build/electrum-fec-locale
	url = https://github.com/koh-gt/electrum-fec-locale
[submodule "electrum_fec/www"]
	path = electrum_fec/plugins/payserver/www
	url = https://github.com/koh-gt/electrum-fec-http.git
[submodule "electrum_fec/gui/kivy/theming/atlas"]
	path = electrum_fec/gui/kivy/theming/atlas
	url = https://github.com/spesmilo/electrum-kivy-atlas
